@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import "tailwindcss";

@theme{
  /* colors */
    --color-primary: #26c0abff;
    --color-secondary: #00494dff;
    --color-dark-slate: #5e7a7dff;
    --color-mild-slate: #7f9c9fff;
    --color-light-slate: #c5e4e7ff;
    --color-light-gray: #f4fafbff;
    --color-white: #ffffff;


/* font  */
  --font-mono-space: 'Space Mono', sans-serif;

  /* radiues */
    --radius-5: 20px ;



}
    body {
  font-family: 'Inter', sans-serif;
}